section.description
  include descriptionTypes
  include descriptionText

section.salesHits
  div.container
    h2.salesHits__title Хиты продаж
  div.salesHits__container
    include salesHits-slider
