section.description
  include descriptionTypes
  include descriptionText

section.salesHits
  div.container
    h2.salesHits__title Хиты продаж
  div.salesHits__container
    div.salesHits__slider
      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-0.salesHits__slider_item-checkbox
              label(for="cart-checkbox-0")#cart-label-0.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-1.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Плотная рубашка из эластичной джинсовой ткани
            h3.salesHits__slider_item-price 5 999 ₽

      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card.salesHits__slider_item-hit.salesHits__slider_item-stock
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-1.salesHits__slider_item-checkbox
              label(for="cart-checkbox-1")#cart-label-1.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-1.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Плотная рубашка из эластичной джинсовой ткани
            h3.salesHits__slider_item-price 5 999 ₽

      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-2.salesHits__slider_item-checkbox
              label(for="cart-checkbox-2")#cart-label-2.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-2.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Футболка с заклепками
            h3.salesHits__slider_item-price 5 999 ₽

      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card.salesHits__slider_item-hit
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-3.salesHits__slider_item-checkbox
              label(for="cart-checkbox-3")#cart-label-3.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-3.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Футболка с эффектом рызрывов
            h3.salesHits__slider_item-price 5 999 ₽

      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-4.salesHits__slider_item-checkbox
              label(for="cart-checkbox-4")#cart-label-4.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-3.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Футболка с эффектом рызрывов
            h3.salesHits__slider_item-price 5 999 ₽

      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-5.salesHits__slider_item-checkbox
              label(for="cart-checkbox-5")#cart-label-5.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-3.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Футболка с эффектом рызрывов
            h3.salesHits__slider_item-price 5 999 ₽

      // Slider Item
      div.salesHits__slider_item
        div.salesHits__slider_item-block
          div.salesHits__slider_item-card
            div.salesHits__slider_item-button
              input(type="checkbox")#cart-checkbox-6.salesHits__slider_item-checkbox
              label(for="cart-checkbox-6")#cart-label-6.salesHits__slider_item-label
                span.salesHits__slider_item-cart.salesHits__slider_item-add
                span.salesHits__slider_item-cart.salesHits__slider_item-added
            div.salesHits__slider_item-image
              img(src="img/saleshits-item-img-3.jpg", alt="item-img").salesHits__slider_item-img
            div.salesHits__slider_item-border
            h3.salesHits__slider_item-title Футболка с эффектом рызрывов
            h3.salesHits__slider_item-price 5 999 ₽

