div.container.description__container
  div.description__types
    a(href="#").description__types-link
      div.description__types-img
        img(src="img/description-types-img-1.png", alt="img-1")
      p.description__types-title Пальто и парки

    a(href="#").description__types-link
      div.description__types-img
        img(src="img/description-types-img-2.png", alt="img-2")
      p.description__types-title Куртки и дублёнки

    a(href="#").description__types-link
      div.description__types-img
        img(src="img/description-types-img-3.png", alt="img-3")
      p.description__types-title Тренчи

    a(href="#").description__types-link
      div.description__types-img
        img(src="img/description-types-img-4.png", alt="img-4")
      p.description__types-title Блейзеры

    a(href="#").description__types-link
      div.description__types-img
        img(src="img/description-types-img-5.png", alt="img-5")
      p.description__types-title Трикотаж

div.description__types-border
