nav.menu.header__desktopMenu
  ul.menu-list.header__desktopMenu-list
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link О компании
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Каталог
        i.arrow.arrow-down
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Доставка и оплата
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Отзывы
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Новости
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Статьи
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Фотогалерея
    li.menu-item.header__desktopMenu-item
      a(href="#").menu-link.header__desktopMenu-link Контакты
