footer.footer
  div.container.footer__container
    include footer-block-first

    div.footer__block.footer__block-second
      include footer-menu
      include footerCatalog-menu

      div#footer__mobileMenu.footer__mobileMenu
        h3.footer__title.footer__mobileMenu-title Компания
        include footerMobile-menu
        
        div.footer__mobileMenu-button
          button.button.footer__mobileMenu-btn Каталог продукции

