footer.footer
  div.container.footer__container
    include footer-block-first

    div.footer__block.footer__block-second
      include footer-menu
      include footerCatalog-menu

      div#footer__mobileMenu.footer__mobileMenu
        h3.footer__title Компания
        ul.footer__mobileMenu-list
          // Item
          li.footer__menu-item.footer__mobileMenu-item
            a(href="#").footer__menu-link.footer__mobileMenu-link О компании

          // Item
          li.footer__menu-item.footer__mobileMenu-item
            a(href="#").footer__menu-link.footer__mobileMenu-link Каталог

