footer.footer
  div.container.footer__container
    div.footer__block.footer__block-first
      div.footer__info
        div.footer__logo
          img(src="img/logo.png" alt="Logo").footer__logo-img
      div.footer__info-data
        div.footer__info-item.footer__info-tel
          div.footer__info-icon
            img(src="img/tel-icone.png", alt="tel")
          div.footer__info-phones
            a(href="tel:+70000000000") +7 (000) 000-00-00
            br
            a(href="tel:+70000000000") +7 (000) 000-00-00
        div.footer__info-item.footer__info-hours
          div.footer__info-icon
            img(src="img/hours-icone.png", alt="hours")
          div.footer__info-text
            p Пн-Пт: с 0:00 до 0:00
            p Сб-Вс: Выходные
        div.footer__info-item.footer__info-address
          div.footer__info-icon
            img(src="img/location-icone.png", alt="location")
          div.footer__info-text
            span 000000, Рыбная обл., г. Рыба, ул. Рыба, дом 00, к. 00 
              a(href="#") Карта проезд
        div.footer__info-item.footer__info-border
        div.footer__info-item.footer__info-socials
          a(href="https://vk.com" target="_blank").footer__info-social
            img(src="img/vk-icone.png", alt="Vk")
          a(href="https://twitter.com" target="_blank").footer__info-social
            img(src="img/twitter-icone.png", alt="Twitter")
          a(href="https://facebook.com" target="_blank").footer__info-social
            img(src="img/facebook-icone.png", alt="Facebook")
          a(href="https://plus.google.com/" target="_blank").footer__info-social
            img(src="img/googleplus-icone.png", alt="Google_Plus")
          a(href="https://instagram.com/" target="_blank").footer__info-social
            img(src="img/instagram-icone.png", alt="Instagram")
        div.footer__info-item.footer__info-copyright
          p Создание и продвижение сайта: 
            a(href="https://www.darvin-studio.ru/" target="_blank") Darvin Studio
            br
            a(href="https://optimasound.com/files/uploads/files/privacy-policy.pdf" target="_blank") Политика конфиденциальности
            br
            span © 2017. Все права защищены

    div.footer__block.footer__block-second

