<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet", href="owlcarousel/owl.theme.default.min.css")
    script(src="https://kit.fontawesome.com/61d2e0d67e.js")
    title Veniam
  body
    include header
    block content
    include footer

    //- Scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="js/jquery.maskedinput.min.js")
    script(src="js/main.js")