// Slick Slider
div.header__slider
  // Slider Item
  div.header__slider_item
    div.header__slider_item-block
      h1.header__slider_item-title Найдите новую одежду
      h1.header__slider_item-subtitle Обновите ваш гардероб к новому сезону!

  // Slider Item
  div.header__slider_item
    div.header__slider_item-block
      h1.header__slider_item-title Найдите новую одежду
      h1.header__slider_item-subtitle Обновите ваш гардероб к новому сезону!

  // Slider Item
  div.header__slider_item
    div.header__slider_item-block
      h1.header__slider_item-title Найдите новую одежду
      h1.header__slider_item-subtitle Обновите ваш гардероб к новому сезону!


