// Slick Slider
div.header__pageCounter
  span.header__pageInfo
  span.header__count
div.header__slider
  // Slider Item
  div.header__slider_item
    div.header__slider_item-block.container
      div.header__slider_item-text
        h1.header__slider_item-title Найдите новую одежду
        p.header__slider_item-subtitle Обновите ваш гардероб к новому сезону!

  // Slider Item
  div.header__slider_item
    div.header__slider_item-block.container
      div.header__slider_item-text
        h1.header__slider_item-title Найдите новую одежду
        p.header__slider_item-subtitle Обновите ваш гардероб к новому сезону!

  // Slider Item
  div.header__slider_item
    div.header__slider_item-block.container
      div.header__slider_item-text
        h1.header__slider_item-title Найдите новую одежду
        p.header__slider_item-subtitle Обновите ваш гардероб к новому сезону!


