.footer
  background: linear-gradient(to right, $color-form 50%, $color-btn-2 50%)
  padding: 6.9rem 0 3.9rem
  &__container
    display: flex
    justify-content: space-between
  &__block
    width: 50%
    &-second
      display: flex
      justify-content: space-between
      max-width: 36rem
  &__logo
    width: 21.7rem
    margin-bottom: 3.3rem
    &-img
      width: 100%
  &__info
    &-item
      display: flex
      align-items: center
      &:not(:last-child)
        margin-bottom: 2.5rem
    &-text
      +openSans_reg
      color: $color-black
      font-size: 1.5rem
      line-height: 1.2
    &-icon
      height: 3rem
      width: auto
      margin-right: 1.3rem
      img
        height: 100%
    &-phones a
      text-decoration: none
      color: $color-black
      +openSans_semiBold
      font-size: 1.6rem
      line-height: 1.2
      &:active
        color: red
    &-address
      margin-left: 0.6rem
    &-address > .footer__info-text
      margin-left: 0.2rem
      max-width: 25.4rem
    &-border
      display: block
      max-width: 29rem
      height: 0.2rem
      background-color: rgba($color-text-blue, 0.2)
    &-socials
      max-width: 23rem
      display: flex
      justify-content: space-between
    &-social
      width: 3.8rem
      border-radius: 1.9rem
      img
        width: 100%
      &:focus
        outline: none
      &:active
        box-shadow: 0.1rem 0.1rem 1rem rgba($color-black, 0.4)
    &-copyright
      +openSans_reg
      font-size: 1.3rem
      color: $color-text-light
      line-height: 1.4

  &__title
    +openSans_light
    font-size: 3.5rem
    margin-bottom: 4.8rem
    color: $color-white
  &__menu
    &-item
      +openSans_reg
      color: $color-white
      &:not(:last-child)
        margin-bottom: 2rem
      span
        +openSans_bold
        float: left
        margin: 0 0.7rem 0 0
        line-height: 0.7
        font-size: 1.8rem
      &:hover
        transform: translateX(1.2rem)
    &-link
      font-size: 1.6rem
      color: $color-white
      text-decoration: none
      &:active
        color: red

  &__mobileMenu
    display: none
    // width: 20rem

@media (max-width: 980px)
  .footer
    &__container
      max-width: 95%
    &__menu:first-child
      margin-left: 4rem
    &__title
      +openSans_reg
      font-size: 2rem
    &__menu
      &-item
        span
          font-size: 1.6rem
        &:hover
          transform: translateX(0)

      &-link
        font-size: 1.4rem

@media (max-width: 640px)
  .footer
    overflow: hidden
    padding: 0
    background: none
    &__container
      max-width: 100%
      flex-direction: column-reverse
    &__block
      width: 92%
      &-first
        padding: 3.6rem 4%
        background-color: $color-form
      &-second
        max-width: none
        padding: 2.3rem 4% 0
        background-color: $color-btn-2
    &__menu
      display: none
    &__title
      margin-bottom: 2.7rem
    &__mobileMenu
      display: block
      width: 100%
      &-list
        display: block
      &-item
        display: block
        padding: 1.8rem 0
        position: relative
        margin-bottom: 0 !important
        &:after
          position: absolute
          content: ''
          display: block
          width: 115%
          height: 0.1rem
          left: -6%
          background-color: rgba($color-border-dark, 0.5)
        &:after
          bottom: 0.1rem
        &:last-child:after
          display: none
        &:first-child:before
          top: 0
          position: absolute
          content: ''
          display: block
          width: 115%
          height: 0.1rem
          left: -6%
          background-color: rgba($color-border-dark, 0.5)


