.header
  /* for pageCounter */
  position: relative
  &__slider
    position: relative
    &_item
      height: 55rem !important
      background-image: url('../img/slider-bg-img.jpg')
      background-size: cover
      color: $color-white
      &-title
        +openSans_reg
        font-size: 5rem
        margin-bottom: 2rem
      &-subtitle
        +openSans_reg
        font-size: 1.7rem
      &-text
        margin-top: 30rem

  &__pageCounter
    position: absolute
    z-index: 2
    bottom: 9%
    left: 50%
    transform: translateX(-33rem)
    color: $color-white
    +openSans_reg
    font-size: 2.5rem
  &__pageInfo
    +openSans_bold

.slick
  &-arrow
    position: absolute
    bottom: 10%
    left: 50%
    transform: translateX(-47rem)
    z-index: 2
    display: block
    width: 4.6rem
    height: 4.6rem
    border-radius: 2.3rem
    background-color: $color-btn
    &_next
      transform: translateX(-41rem)
    &:hover
      cursor: pointer
    &:active
      box-shadow: inset 0.1rem 0.1rem 1rem rgba($color-black, 0.4)

  &_arr
    border: solid $color-white
    border-width: 0 0.3rem 0.3rem 0
    display: inline-block
    padding: 0.7rem
    margin-top: 1.4rem
    border-radius: 0.3rem
    &-left
      transform: rotate(135deg)
      margin-left: 1.6rem
    &-right
      margin-left: 1.1rem
      transform: rotate(-45deg)
  &-disabled
    background-color: $color-white
    i
      border-color: $color-btn
    &:active
      box-shadow: none

@media (max-width: 980px)
  .header
    &__container
      max-width: 90%
    &__pageCounter
      transform: translateX(0.5rem)
      bottom: 5%
    &__slider
      &_item
        height: 36rem !important
        &-text
          margin-top: 12rem
          text-align: center

  .slick
    &-arrow
      bottom: 20%
      transform: translateX(-3rem)
      &_next
        transform: translateX(3rem)

@media (max-width: 650px)
  .header
    &__slider
      &_item
        height: 30rem !important
        &-text
          margin-top: 9rem
        &-title
          font-size: 3.6rem
          margin-bottom: 1.6rem

@media (max-width: 455px)
  .header
    &__slider
      display: none !important
    &__pageCounter
      display: none !important



