.header
  &__slider
    position: relative
    &_item
      height: 55rem !important
      background-image: url('../img/slider-bg-img.jpg')
      background-size: cover


.slick-arrow
  position: absolute
  bottom: 10rem
  z-index: 2


